html, body {
  font-family: "Noto Sans TC", sans-serif;
}

body {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

h3 {
  font-size: 32px;
  line-height: 1.5;
}

h4 {
  font-size: 20px;
}

p {
  color: #707070;
  font-size: 16px;
}

p.lead {
  color: #eee;
}

img {
  max-width: 100%;
}

.bg-black {
  display: none;
}

.bg-black.active {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.87);
  z-index: 22;
}

@-webkit-keyframes load {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4);
            transform: scaleY(0.4);
  }
  20% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

@keyframes load {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4);
            transform: scaleY(0.4);
  }
  20% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}
.loading {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 25;
  opacity: 0.95;
  background: #ffffff;
}
.loading .pic {
  width: 64px;
  height: 64px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin: 0 auto;
}
.loading .pic i {
  display: block;
  float: left;
  width: 6px;
  height: 50px;
  background: #23bed6;
  margin: 0 2px;
  -webkit-transform: scaleY(0.4);
          transform: scaleY(0.4);
  -webkit-animation: load 1.2s infinite;
          animation: load 1.2s infinite;
}
.loading .pic i:nth-child(1) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}
.loading .pic i:nth-child(2) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
.loading .pic i:nth-child(3) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.loading .pic i:nth-child(4) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
.loading .pic i:nth-child(5) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.flex-grow {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
  height: 100%;
}

nav .navbar-brand .logo {
  display: inline-block;
  width: 50px;
}
nav .navbar-brand .logo img {
  width: 100%;
}
nav .navbar-collapse .navbar-nav {
  text-align: center;
}
nav .navbar-collapse .navbar-nav a {
  margin: 0 10px;
}

nav.navbar.navbar-expand-lg.navbar-dark {
  background: #000;
  opacity: 0.9;
  position: fixed;
  z-index: 24;
  top: 0;
  left: 0;
  right: 0;
  min-width: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media (min-width: 991px) {
  nav.navbar.navbar-expand-lg.navbar-dark.nav_top {
    background-color: transparent;
    border-bottom: 1px solid #ffffff;
  }
}
nav.navbar.navbar-expand-lg.navbar-dark.nav_top .nav-link {
  color: #ffffff;
}
@media (min-width: 991px) {
  nav.navbar.navbar-expand-lg.navbar-dark.nav_top .nav-link {
    text-shadow: 1px 1px #8b8b8b;
  }
}
nav.navbar.navbar-expand-lg.navbar-dark.nav_top .nav-link:hover {
  color: #bbb;
}
nav.navbar.navbar-expand-lg.navbar-dark.nav_top .nav-link.active {
  color: #23bed6;
}

@media (max-width: 991px) {
  nav.navbar.navbar-expand-lg.navbar-dark .nav-link {
    margin: 15px 0;
  }
}

.footer {
  background: #23bed6;
}

#index-fv .jumbotron {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.15)), to(rgba(0, 0, 0, 0.15))), url(../images/photo01.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url(../images/photo01.jpg);
  background-size: cover;
  background-position: center;
  min-height: 460px;
  height: 70vh;
  margin-bottom: 0;
  border-radius: 0;
}
#index-fv .jumbotron .text-box {
  color: #ffffff;
}
#index-fv .jumbotron .text-box h1 {
  font-size: 52px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 6px;
  margin: 15px 0;
}
@media (max-width: 768px) {
  #index-fv .jumbotron .text-box h1 {
    font-size: 48px;
  }
}
@media (max-width: 640px) {
  #index-fv .jumbotron .text-box h1 {
    font-size: 43px;
  }
}
@media (max-width: 576px) {
  #index-fv .jumbotron .text-box h1 {
    font-size: 38px;
  }
}
@media (max-width: 375px) {
  #index-fv .jumbotron .text-box h1 {
    font-size: 32px;
  }
}
#index-fv .jumbotron .text-box h1 .br {
  display: none;
}
@media (max-width: 475px) {
  #index-fv .jumbotron .text-box h1 .br {
    display: block;
  }
}
#index-fv .jumbotron .text-box h1::after {
  display: block;
  background-color: #23bed6;
  content: "";
  height: 3px;
  width: 50px;
  margin-top: 10px;
}
#index-fv .jumbotron .text-box .btn {
  background: #23bed6;
  color: #ffffff;
  padding: 9px 26px;
  border-radius: 20px;
}
#index-fv .jumbotron .text-box .btn:hover {
  background: #ffffff;
  color: #23bed6;
}

#index-intro {
  padding: 100px 0;
}
#index-intro h3 {
  text-align: center;
}
#index-intro .line {
  height: 3px;
  width: 50px;
  background-color: #23bed6;
  margin-bottom: 70px;
}
@media (max-width: 576px) {
  #index-intro .line {
    margin-bottom: 50px;
  }
}

#index-type {
  min-height: 450px;
}
#index-type h3 {
  color: #fff;
}
#index-type span {
  color: #fff;
  font-size: 22px;
}
#index-type .line {
  width: 20px;
  height: 2px;
  background-color: #23bed6;
  margin-top: 3px;
}
#index-type .boxImage {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url(../images/photo02.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/photo02.jpg);
}
#index-type .boxImage2 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url(../images/photo03.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/photo03.jpg);
}
#index-type .boxImage3 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url(../images/photo04.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/photo04.jpg);
}
#index-type .boxBg {
  min-height: 450px;
  background-size: cover;
  background-position: 50% 50%;
}
#index-type .bgBlack {
  background-color: #333;
}
#index-type .bgBlack .btn {
  background: #23bed6;
  color: #ffffff;
  padding: 9px 26px;
  border-radius: 20px;
}
#index-type .bgBlack .btn:hover {
  background: #ffffff;
  color: #23bed6;
}

#hotArea {
  padding: 100px 0;
}
@media (max-width: 576px) {
  #hotArea {
    padding: 50px 10%;
  }
}
@media (max-width: 475px) {
  #hotArea {
    padding: 50px 5%;
  }
}
@media (max-width: 375px) {
  #hotArea {
    padding: 50px 3%;
  }
}
#hotArea .container {
  max-width: 1000px;
}
#hotArea .container h3 {
  text-align: center;
}
#hotArea .container .line {
  height: 3px;
  width: 50px;
  background-color: #23bed6;
  margin-bottom: 70px;
}
@media (max-width: 576px) {
  #hotArea .container .line {
    margin-bottom: 50px;
  }
}
#hotArea .container .swiper {
  width: 100%;
  height: 100%;
  padding: 0 10px 30px 10px;
}
#hotArea .container .swiper .swiper-slide {
  font-size: 18px;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#hotArea .container .swiper .swiper-slide .card .card-head {
  width: 100%;
  overflow: hidden;
}
#hotArea .container .swiper .swiper-slide .card .card-head .card-img-top {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
@media (max-width: 991px) {
  #hotArea .container .swiper .swiper-slide .card .card-head .card-img-top {
    height: 250px;
  }
}
@media (max-width: 768px) {
  #hotArea .container .swiper .swiper-slide .card .card-head .card-img-top {
    height: 190px;
  }
}
@media (max-width: 640px) {
  #hotArea .container .swiper .swiper-slide .card .card-head .card-img-top {
    height: 180px;
  }
}
@media (max-width: 576px) {
  #hotArea .container .swiper .swiper-slide .card .card-head .card-img-top {
    height: 260px;
  }
}
@media (max-width: 475px) {
  #hotArea .container .swiper .swiper-slide .card .card-head .card-img-top {
    height: 250px;
  }
}
@media (max-width: 375px) {
  #hotArea .container .swiper .swiper-slide .card .card-head .card-img-top {
    height: 200px;
  }
}
#hotArea .container .swiper .swiper-slide .card .btn {
  background: #23bed6;
  color: #ffffff;
  padding: 9px 26px;
  border: 1px solid #23bed6;
  border-radius: 5px;
}
#hotArea .container .swiper .swiper-slide .card .btn:hover {
  background: #ffffff;
  color: #23bed6;
}
#hotArea .container .swiper .swiper-pagination {
  bottom: -5px;
}
#hotArea .container .swiper .swiper-pagination .swiper-pagination-bullet {
  width: 10px !important;
  height: 10px !important;
  margin: 0 10px !important;
}
#hotArea .container .swiper .swiper-pagination .swiper-pagination-bullet-active {
  background: #333 !important;
}
#hotArea .open-group .card-page {
  display: none;
}
#hotArea .open-group .card-page .card {
  border: none;
}
#hotArea .open-group .card-page.page-open {
  display: block;
  position: absolute;
  width: 100%;
}
#hotArea .open-group .card-page.page-open > div {
  position: relative;
  margin: 0 auto;
  width: 50%;
  background: #fff;
  padding: 1.5%;
  z-index: 23;
}
@media (max-width: 991px) {
  #hotArea .open-group .card-page.page-open > div {
    width: 60%;
  }
}
@media (max-width: 768px) {
  #hotArea .open-group .card-page.page-open > div {
    width: 60%;
  }
}
@media (max-width: 640px) {
  #hotArea .open-group .card-page.page-open > div {
    width: 70%;
  }
}
@media (max-width: 576px) {
  #hotArea .open-group .card-page.page-open > div {
    width: 90%;
  }
}
#hotArea .open-group .card-page.page-open .close-card {
  cursor: pointer;
  position: absolute;
  top: 0.5%;
  right: 1.5%;
  width: 20px;
  height: 20px;
  opacity: 0.4;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
#hotArea .open-group .card-page.page-open .close-card:hover {
  opacity: 1;
}
#hotArea .open-group .card-page.page-open .close-card img {
  width: 100%;
}
#hotArea .open-group .card-page.page-open .card-content .card-img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  overflow: hidden;
}
#hotArea .open-group .card-page.page-open .card-content .card-img .card-img-top {
  width: 100%;
}
#hotArea .open-group .card-page.page-open .card-content .location {
  width: 14px;
}
#hotArea .open-group .card-page.page-open .card-content .clock_icon {
  width: 14px;
}

#filter .jumbotron {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.15)), to(rgba(0, 0, 0, 0.15))), url(../images/unsplash01.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url(../images/unsplash01.jpg);
  background-size: cover;
  background-position: center;
  min-height: 460px;
  height: 60vh;
  border-radius: 0;
  margin-bottom: 0;
}
@media (max-width: 576px) {
  #filter .jumbotron {
    height: 70vh;
  }
}
#filter .jumbotron .text-box {
  color: #ffffff;
}
#filter .jumbotron h1 {
  color: #ffffff;
  font-size: 52px;
  font-weight: 400;
  text-align: center;
  line-height: 1.5;
  letter-spacing: 6px;
  margin: 15px 0;
}
@media (max-width: 768px) {
  #filter .jumbotron h1 {
    font-size: 48px;
  }
}
@media (max-width: 640px) {
  #filter .jumbotron h1 {
    font-size: 43px;
  }
}
@media (max-width: 576px) {
  #filter .jumbotron h1 {
    font-size: 36px;
  }
}
@media (max-width: 375px) {
  #filter .jumbotron h1 {
    font-size: 30px;
  }
}
#filter .jumbotron .categorySelect, #filter .jumbotron .citySelect {
  cursor: pointer;
}
@media (max-width: 640px) {
  #filter .jumbotron .categorySelect, #filter .jumbotron .citySelect {
    width: 38%;
  }
}
#filter .jumbotron .send {
  cursor: pointer;
  opacity: 0.8;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
#filter .jumbotron .send:hover {
  opacity: 1;
}
#filter .jumbotron .send img {
  width: 40px;
}

#card-group .card .card-head {
  width: 100%;
  overflow: hidden;
}
#card-group .card .card-head .card-img-top {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
@media (max-width: 991px) {
  #card-group .card .card-head .card-img-top {
    height: 250px;
  }
}
@media (max-width: 768px) {
  #card-group .card .card-head .card-img-top {
    height: 190px;
  }
}
@media (max-width: 640px) {
  #card-group .card .card-head .card-img-top {
    height: 180px;
  }
}
@media (max-width: 576px) {
  #card-group .card .card-head .card-img-top {
    height: 260px;
  }
}
@media (max-width: 475px) {
  #card-group .card .card-head .card-img-top {
    height: 250px;
  }
}
@media (max-width: 375px) {
  #card-group .card .card-head .card-img-top {
    height: 200px;
  }
}
#card-group .card .btn {
  background: #23bed6;
  color: #ffffff;
  padding: 9px 26px;
  border: 1px solid #23bed6;
  border-radius: 5px;
}
#card-group .card .btn:hover {
  background: #ffffff;
  color: #23bed6;
}
#card-group .search {
  font-size: 32px;
}
@media (max-width: 576px) {
  #card-group .search {
    font-size: 28px;
  }
}
@media (max-width: 375px) {
  #card-group .search {
    font-size: 26px;
  }
}
#card-group .card-page {
  display: none;
}
#card-group .card-page .card {
  border: none;
}
#card-group .card-page.page-open {
  display: block;
  position: absolute;
  width: 100%;
}
#card-group .card-page.page-open > div {
  position: relative;
  margin: 0 auto;
  width: 40%;
  background: #fff;
  padding: 1.5%;
  z-index: 23;
}
@media (max-width: 991px) {
  #card-group .card-page.page-open > div {
    width: 60%;
  }
}
@media (max-width: 768px) {
  #card-group .card-page.page-open > div {
    width: 60%;
  }
}
@media (max-width: 640px) {
  #card-group .card-page.page-open > div {
    width: 70%;
  }
}
@media (max-width: 576px) {
  #card-group .card-page.page-open > div {
    width: 90%;
  }
}
#card-group .card-page.page-open .close-card {
  cursor: pointer;
  position: absolute;
  top: 0.5%;
  right: 1.5%;
  width: 20px;
  height: 20px;
  opacity: 0.4;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
#card-group .card-page.page-open .close-card:hover {
  opacity: 1;
}
#card-group .card-page.page-open .close-card img {
  width: 100%;
}
#card-group .card-page.page-open .card-content .card-img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  overflow: hidden;
}
#card-group .card-page.page-open .card-content .card-img .card-img-top {
  width: 100%;
}
#card-group .card-page.page-open .card-content .location {
  width: 14px;
}
#card-group .card-page.page-open .card-content .clock_icon {
  width: 14px;
}

#question-fv .jumbotron {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.15)), to(rgba(0, 0, 0, 0.15))), url(../images/unsplash02.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url(../images/unsplash02.jpg);
  background-size: cover;
  background-position: center;
  min-height: 460px;
  height: 50vh;
  margin-bottom: 0;
  border-radius: 0;
}
#question-fv .jumbotron p {
  color: #ffffff;
  font-weight: 500;
  font-size: 24px;
}
@media (max-width: 375px) {
  #question-fv .jumbotron p {
    font-size: 21px;
  }
}

#question-group {
  padding: 100px 0;
}
#question-group .title {
  border-bottom: 2px solid #000;
  text-align: center;
}
#question-group .question-list {
  margin: 0 auto;
  width: 600px;
}
#question-group .question-list .question .q {
  border-bottom: 1px solid #23bed6;
  cursor: pointer;
}
#question-group .question-list .question .q h4 {
  margin: 0;
  padding: 20px 5px;
}
#question-group .question-list .question .q span {
  width: 10px;
  display: inline-block;
}
#question-group .question-list .question .q span img {
  width: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
#question-group .question-list .question .q span img.active {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
#question-group .question-list .question p {
  display: none;
  padding: 10px;
}
#question-group .question-list .question .active {
  display: block;
}