html, body {
  font-family: "Noto Sans TC", sans-serif;
}

h3 {
  font-size: 32px;
  line-height: 1.5;
}

p {
  color: #707070;
  font-size: 16px;
}

p.lead {
  color: #eee;
}

img {
  max-width: 100%;
}

.bg-black {
  display: none;
}

.bg-black.active {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.87);
  z-index: 22;
}

@-webkit-keyframes load {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4);
            transform: scaleY(0.4);
  }
  20% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

@keyframes load {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4);
            transform: scaleY(0.4);
  }
  20% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}
.loading {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 25;
  opacity: 0.95;
  background: #ffffff;
}
.loading .pic {
  width: 64px;
  height: 64px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin: 0 auto;
}
.loading .pic i {
  display: block;
  float: left;
  width: 6px;
  height: 50px;
  background: #23bed6;
  margin: 0 2px;
  -webkit-transform: scaleY(0.4);
          transform: scaleY(0.4);
  -webkit-animation: load 1.2s infinite;
          animation: load 1.2s infinite;
}
.loading .pic i:nth-child(1) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}
.loading .pic i:nth-child(2) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
.loading .pic i:nth-child(3) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.loading .pic i:nth-child(4) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
.loading .pic i:nth-child(5) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

nav .navbar-brand .logo {
  display: inline-block;
  width: 50px;
}
nav .navbar-brand .logo img {
  width: 100%;
}
nav .navbar-collapse .navbar-nav {
  text-align: center;
}
nav .navbar-collapse .navbar-nav a {
  margin: 0 10px;
}

nav.navbar.navbar-expand-lg.navbar-dark {
  background: #000;
  opacity: 0.9;
  position: fixed;
  z-index: 24;
  top: 0;
  left: 0;
  right: 0;
  min-width: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media (min-width: 991px) {
  nav.navbar.navbar-expand-lg.navbar-dark.nav_top {
    background-color: transparent;
    border-bottom: 1px solid #ffffff;
  }
}
nav.navbar.navbar-expand-lg.navbar-dark.nav_top .nav-link {
  color: #ffffff;
}
@media (min-width: 991px) {
  nav.navbar.navbar-expand-lg.navbar-dark.nav_top .nav-link {
    text-shadow: 1px 1px #8b8b8b;
  }
}
nav.navbar.navbar-expand-lg.navbar-dark.nav_top .nav-link:hover {
  color: #bbb;
}
nav.navbar.navbar-expand-lg.navbar-dark.nav_top .nav-link.active {
  color: #23bed6;
}

@media (max-width: 991px) {
  nav.navbar.navbar-expand-lg.navbar-dark .nav-link {
    margin: 15px 0;
  }
}

#intro .jumbotron {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.15)), to(rgba(0, 0, 0, 0.15))), url(../images/unsplash01.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url(../images/unsplash01.jpg);
  background-size: cover;
  background-position: center;
  min-height: 460px;
  height: 60vh;
  border-radius: 0;
  margin-bottom: 0;
}
@media (max-width: 576px) {
  #intro .jumbotron {
    height: 70vh;
  }
}
#intro .jumbotron .text-box {
  color: #ffffff;
}
#intro .jumbotron h1 {
  color: #ffffff;
  font-size: 52px;
  font-weight: 400;
  text-align: center;
  line-height: 1.5;
  letter-spacing: 6px;
  margin: 15px 0;
}
@media (max-width: 768px) {
  #intro .jumbotron h1 {
    font-size: 48px;
  }
}
@media (max-width: 640px) {
  #intro .jumbotron h1 {
    font-size: 43px;
  }
}
@media (max-width: 576px) {
  #intro .jumbotron h1 {
    font-size: 36px;
  }
}
@media (max-width: 375px) {
  #intro .jumbotron h1 {
    font-size: 30px;
  }
}
#intro .jumbotron .categorySelect, #intro .jumbotron .citySelect {
  cursor: pointer;
}
@media (max-width: 640px) {
  #intro .jumbotron .categorySelect, #intro .jumbotron .citySelect {
    width: 38%;
  }
}
#intro .jumbotron .send {
  cursor: pointer;
  opacity: 0.8;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
#intro .jumbotron .send:hover {
  opacity: 1;
}
#intro .jumbotron .send img {
  width: 40px;
}

#card_group .card .card-head {
  width: 100%;
  overflow: hidden;
}
#card_group .card .card-head .card-img-top {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
@media (max-width: 991px) {
  #card_group .card .card-head .card-img-top {
    height: 250px;
  }
}
@media (max-width: 768px) {
  #card_group .card .card-head .card-img-top {
    height: 190px;
  }
}
@media (max-width: 640px) {
  #card_group .card .card-head .card-img-top {
    height: 180px;
  }
}
@media (max-width: 576px) {
  #card_group .card .card-head .card-img-top {
    height: 260px;
  }
}
@media (max-width: 475px) {
  #card_group .card .card-head .card-img-top {
    height: 250px;
  }
}
@media (max-width: 375px) {
  #card_group .card .card-head .card-img-top {
    height: 200px;
  }
}
#card_group .card .btn {
  background: #23bed6;
  color: #ffffff;
  padding: 9px 26px;
  border: 1px solid #23bed6;
  border-radius: 5px;
}
#card_group .card .btn:hover {
  background: #ffffff;
  color: #23bed6;
}
#card_group .search {
  font-size: 32px;
}
@media (max-width: 576px) {
  #card_group .search {
    font-size: 28px;
  }
}
@media (max-width: 375px) {
  #card_group .search {
    font-size: 26px;
  }
}
#card_group .card-page {
  display: none;
}
#card_group .card-page .card {
  border: none;
}
#card_group .card-page.page-open {
  display: block;
  position: absolute;
  width: 100%;
}
#card_group .card-page.page-open > div {
  position: relative;
  margin: 0 auto;
  width: 40%;
  background: #fff;
  padding: 1.5%;
  z-index: 23;
}
@media (max-width: 991px) {
  #card_group .card-page.page-open > div {
    width: 60%;
  }
}
@media (max-width: 768px) {
  #card_group .card-page.page-open > div {
    width: 60%;
  }
}
@media (max-width: 640px) {
  #card_group .card-page.page-open > div {
    width: 70%;
  }
}
@media (max-width: 576px) {
  #card_group .card-page.page-open > div {
    width: 90%;
  }
}
#card_group .card-page.page-open .close-card {
  cursor: pointer;
  position: absolute;
  top: 0.5%;
  right: 1.5%;
  width: 20px;
  height: 20px;
  opacity: 0.4;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
#card_group .card-page.page-open .close-card:hover {
  opacity: 1;
}
#card_group .card-page.page-open .close-card img {
  width: 100%;
}
#card_group .card-page.page-open .card-content .card-img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  overflow: hidden;
}
#card_group .card-page.page-open .card-content .card-img .card-img-top {
  width: 100%;
}
#card_group .card-page.page-open .card-content .location {
  width: 14px;
}
#card_group .card-page.page-open .card-content .clock_icon {
  width: 14px;
}

.footer {
  background: #23bed6;
}