$color_white: #fff;
$color_green: #23bed6;

@mixin pc {
    @media(min-width: 991px) {
        @content
    }
}

@mixin tablet991 {
    @media(max-width: 991px) {
        @content
    }
}

@mixin tablet768 {
    @media(max-width: 768px) {
        @content
    }
}

@mixin tablet640 {
    @media(max-width: 640px) {
        @content
    }
}

@mixin mobile576 {
    @media(max-width: 576px) {
        @content
    }
}

@mixin mobile475 {
    @media(max-width: 475px) {
        @content
    }
}

@mixin mobile375 {
    @media(max-width: 375px) {
        @content
    }
}

html,body {
    font-family: 'Noto Sans TC', sans-serif;
}
h3 {
    font-size: 32px;
    line-height: 1.5;
}
p {
    color: #707070;
    font-size: 16px;
}
p.lead {
    color: #eee;
}
img {
    max-width: 100%;
}
.bg-black {
    display: none;
}
.bg-black.active {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.87);
    z-index: 21;
}
nav {
    .navbar-brand {
        .logo {
            display: inline-block;
            width: 50px;
            img {
                width: 100%;
            }
        }
    }
    .navbar-collapse {
        .navbar-nav {
            text-align: center;
            a {
                margin: 0 10px
            }
        }
    }
}
nav.navbar.navbar-expand-lg.navbar-dark {
    background: #000;
    opacity: 0.9;
    position: fixed;
    z-index: 24;
    top: 0;
    left: 0;
    right: 0;
    min-width: 100%;
    transition: 0.5s;
}
nav.navbar.navbar-expand-lg.navbar-dark.nav_top {
    @include pc {
        background-color: transparent;
        border-bottom: 1px solid $color_white;
    }
    .nav-link {
        color: $color_white;
        @include pc {
            text-shadow: 1px 1px rgb(139, 139, 139);
        }
        &:hover {
            color: #bbb;
        }
    }
    .nav-link.active {
        color: $color_green;
    }
}
nav.navbar.navbar-expand-lg.navbar-dark {
    .nav-link {
        @include tablet991 {
            margin: 15px 0;
        }
    }
}

#intro {
    .jumbotron {
        background-image: linear-gradient(rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0.15)),url(../images/unsplash01.jpg);
        background-size: cover;
        background-position: center;
        min-height: 460px;
        height: 60vh;
        border-radius: 0;
        margin-bottom: 0;
        @include mobile576 {
            height: 70vh;
        }
        .text-box {
            color: $color_white;
        }
        h1 {
            color: $color_white;
            font-size: 52px;
            font-weight: 400;
            text-align: center;
            line-height: 1.5;
            letter-spacing: 6px;
            margin: 15px 0;
            @include tablet768 {
                font-size: 48px;
            }
            @include tablet640 {
                font-size: 43px;
            }
            @include mobile576 {
                font-size: 36px;
            }
            @include mobile375 {
                font-size: 30px;
            }
        }
        .categorySelect,.citySelect {
            cursor: pointer;
            @include tablet640 {
                width: 38%;
            }
        }
        .send {
            cursor: pointer;
            opacity: 0.8;
            transition: .5s;
            &:hover {
                opacity: 1;
            }
            img {
                width: 40px;
            }
        }
    }
}

#card_group {
    .card {
        .card-head {
            width: 100%;
            overflow: hidden;
            .card-img-top {
                width: 100%;
                height: 200px;
                object-fit: cover;
                object-position: center;
                @include tablet991 {
                    height: 250px;
                }
                @include tablet768 {
                    height: 190px;
                }
                @include tablet640 {
                    height: 180px;
                }
                @include mobile576 {
                    height: 260px;
                }
                @include mobile475 {
                    height: 250px;
                }
                @include mobile375 {
                    height: 200px;
                }
            }
        }
        .btn {
            background: $color_green;
            color: $color_white;
            padding: 9px 26px;
            border: 1px solid $color_green;
            border-radius: 5px;
            &:hover {
                background: $color_white;
                color: $color_green;
            }
        }
    }
    .search {
        font-size: 32px;
        @include mobile576 {
            font-size: 28px;
        }
        @include mobile375 {
            font-size: 26px;
        }
    }
    .card-page {
        display: none;
        .card {
            border: none;
        }
    }
    .card-page.page-open {
        display: block;
        position: absolute;
        width: 100%;
        >div {
            position: relative;
            margin: 0 auto;
            width: 40%;
            background: #fff;
            padding: 1.5%;
            z-index: 22;
            @include tablet991() {
                width: 60%;
            }
            @include tablet768 {
                width: 60%;
            }
            @include tablet640 {
                width: 70%;
            }
            @include mobile576 {
                width: 90%;
            }
        }
        .close-card {
            cursor: pointer;
            position: absolute;
            top: 0.5%;
            right: 1.5%;
            width: 20px;
            height: 20px;
            opacity: 0.4;
            transition: .5s;
            &:hover {
                opacity: 1;
            }
            img {
                width: 100%;
            }
        }
        .card-content {
            .card-img {
                width: 100%;
                object-fit: cover;
                object-position: center;
                overflow: hidden;
                .card-img-top {
                    width: 100%;
                }
            }
            .location {
                width: 14px;
            }
            .clock_icon {
                width: 14px;
            }
        }
    }
}

.footer {
    background: $color_green;
}