html, body {
  font-family: 'Noto Sans TC', sans-serif;
}

h3 {
  font-size: 32px;
  line-height: 1.5;
}

p {
  color: #707070;
  font-size: 16px;
}

p.lead {
  color: #eee;
}

img {
  max-width: 100%;
}

.bg-black {
  display: none;
}

.bg-black.active {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.87);
  z-index: 21;
}

.btn {
  background: #23bed6;
  color: #fff;
  padding: 9px 26px;
  border-radius: 20px;
}

.btn:hover {
  background: #fff;
  color: #23bed6;
}

nav a {
  margin: 0 10px;
}

nav .navbar-collapse .navbar-nav {
  text-align: center;
}

nav.navbar.navbar-expand-lg.navbar-dark {
  background: #000;
  opacity: 0.9;
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  right: 0;
  min-width: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media (min-width: 991px) {
  nav.navbar.navbar-expand-lg.navbar-dark.nav_top {
    background-color: transparent;
    border-bottom: 1px solid #fff;
  }
}

nav.navbar.navbar-expand-lg.navbar-dark.nav_top .nav-link {
  color: #fff;
}

@media (min-width: 991px) {
  nav.navbar.navbar-expand-lg.navbar-dark.nav_top .nav-link {
    text-shadow: 1px 1px #aaa;
  }
}

nav.navbar.navbar-expand-lg.navbar-dark.nav_top .nav-link:hover {
  color: #bbb;
}

nav.navbar.navbar-expand-lg.navbar-dark.nav_top .nav-link.active {
  color: #23bed6;
}

@media (max-width: 991px) {
  nav.navbar.navbar-expand-lg.navbar-dark .nav-link {
    margin: 15px 0;
  }
}

#intro .jumbotron {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.15)), to(rgba(0, 0, 0, 0.15))), url(https://images.unsplash.com/photo-1583395145517-1e3177037600?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80);
  background-image: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url(https://images.unsplash.com/photo-1583395145517-1e3177037600?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80);
  background-size: cover;
  background-position: center;
  height: 70vh;
  margin-bottom: 0;
}

#intro .jumbotron .text-box {
  color: #fff;
}

#intro .jumbotron h1 {
  font-size: 52px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 6px;
  margin: 15px 0;
}

@media (max-width: 768px) {
  #intro .jumbotron h1 {
    font-size: 48px;
  }
}

@media (max-width: 640px) {
  #intro .jumbotron h1 {
    font-size: 43px;
  }
}

@media (max-width: 576px) {
  #intro .jumbotron h1 {
    font-size: 38px;
  }
}

@media (max-width: 375px) {
  #intro .jumbotron h1 {
    font-size: 32px;
  }
}

#intro .jumbotron h1 .br {
  display: none;
}

@media (max-width: 475px) {
  #intro .jumbotron h1 .br {
    display: block;
  }
}

#intro .jumbotron h1::after {
  display: block;
  background-color: #23bed6;
  content: "";
  height: 3px;
  width: 50px;
  margin-top: 10px;
}

#second {
  padding: 100px 0;
}

#second h3 {
  text-align: center;
}

#second .line {
  height: 3px;
  width: 50px;
  background-color: #23bed6;
  margin-bottom: 70px;
}

@media (max-width: 576px) {
  #second .line {
    margin-bottom: 50px;
  }
}

#photo {
  min-height: 450px;
}

#photo h3 {
  color: #fff;
}

#photo span {
  color: #fff;
  font-size: 22px;
}

#photo .line {
  width: 20px;
  height: 2px;
  background-color: #23bed6;
  margin-top: 3px;
}

#photo .boxImage {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url(https://images.unsplash.com/photo-1606733540477-40342227cf44);
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(https://images.unsplash.com/photo-1606733540477-40342227cf44);
}

#photo .boxImage2 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url(https://images.unsplash.com/photo-1526682847805-721837c3f83b);
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(https://images.unsplash.com/photo-1526682847805-721837c3f83b);
}

#photo .boxImage3 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url(https://images.unsplash.com/photo-1626939162296-0350d7c1dfdd);
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(https://images.unsplash.com/photo-1626939162296-0350d7c1dfdd);
}

#photo .boxBg {
  min-height: 450px;
  background-size: cover;
  background-position: 50% 50%;
}

#photo .bgBlack {
  background-color: #333;
}

#hotArea {
  padding: 100px 0;
}

@media (max-width: 576px) {
  #hotArea {
    padding: 50px 10%;
  }
}

#hotArea .container {
  max-width: 1000px;
}

#hotArea .container h3 {
  text-align: center;
}

#hotArea .container .line {
  height: 3px;
  width: 50px;
  background-color: #23bed6;
  margin-bottom: 70px;
}

@media (max-width: 576px) {
  #hotArea .container .line {
    margin-bottom: 50px;
  }
}

#hotArea .container .swiper {
  width: 100%;
  height: 100%;
  padding: 0 10px 30px 10px;
}

#hotArea .container .swiper .swiper-slide {
  font-size: 18px;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#hotArea .container .swiper .swiper-slide .card .card-head {
  width: 100%;
  overflow: hidden;
}

#hotArea .container .swiper .swiper-slide .card .card-head .card-img-top {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

@media (max-width: 991px) {
  #hotArea .container .swiper .swiper-slide .card .card-head .card-img-top {
    height: 250px;
  }
}

@media (max-width: 768px) {
  #hotArea .container .swiper .swiper-slide .card .card-head .card-img-top {
    height: 190px;
  }
}

@media (max-width: 640px) {
  #hotArea .container .swiper .swiper-slide .card .card-head .card-img-top {
    height: 180px;
  }
}

@media (max-width: 576px) {
  #hotArea .container .swiper .swiper-slide .card .card-head .card-img-top {
    height: 260px;
  }
}

@media (max-width: 475px) {
  #hotArea .container .swiper .swiper-slide .card .card-head .card-img-top {
    height: 250px;
  }
}

@media (max-width: 375px) {
  #hotArea .container .swiper .swiper-slide .card .card-head .card-img-top {
    height: 200px;
  }
}

#hotArea .container .swiper .swiper-slide .card .btn {
  background: #23bed6;
  color: #fff;
  padding: 9px 26px;
  border: 1px solid #23bed6;
  border-radius: 5px;
}

#hotArea .container .swiper .swiper-slide .card .btn:hover {
  background: #fff;
  color: #23bed6;
}

#hotArea .container .swiper .swiper-pagination {
  bottom: -5px;
}

#hotArea .container .swiper .swiper-pagination .swiper-pagination-bullet {
  width: 10px !important;
  height: 10px !important;
  margin: 0 10px !important;
}

#hotArea .container .swiper .swiper-pagination .swiper-pagination-bullet-active {
  background: #333 !important;
}

#hotArea .open-group .card-page {
  display: none;
}

#hotArea .open-group .card-page .card {
  border: none;
}

#hotArea .open-group .card-page.page-open {
  display: block;
  position: absolute;
  width: 100%;
}

#hotArea .open-group .card-page.page-open > div {
  position: relative;
  margin: 0 auto;
  width: 50%;
  background: #fff;
  padding: 1.5%;
  z-index: 25;
}

@media (max-width: 991px) {
  #hotArea .open-group .card-page.page-open > div {
    width: 60%;
  }
}

@media (max-width: 768px) {
  #hotArea .open-group .card-page.page-open > div {
    width: 60%;
  }
}

@media (max-width: 640px) {
  #hotArea .open-group .card-page.page-open > div {
    width: 70%;
  }
}

@media (max-width: 576px) {
  #hotArea .open-group .card-page.page-open > div {
    width: 90%;
  }
}

#hotArea .open-group .card-page.page-open .close-card {
  cursor: pointer;
  position: absolute;
  top: 0.5%;
  right: 1.5%;
  width: 20px;
  height: 20px;
  opacity: 0.4;
  -webkit-transition: .5s;
  transition: .5s;
}

#hotArea .open-group .card-page.page-open .close-card:hover {
  opacity: 1;
}

#hotArea .open-group .card-page.page-open .close-card img {
  width: 100%;
}

#hotArea .open-group .card-page.page-open .card-content .card-img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  overflow: hidden;
}

#hotArea .open-group .card-page.page-open .card-content .card-img .card-img-top {
  width: 100%;
}

#hotArea .open-group .card-page.page-open .card-content .location {
  width: 14px;
}

#hotArea .open-group .card-page.page-open .card-content .clock_icon {
  width: 14px;
}

.footer {
  background: #23bed6;
}
/*# sourceMappingURL=style.css.map */