#index-fv {
    .jumbotron {
        background-image: linear-gradient(rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0.15)),url(../images/photo01.jpg);
        background-size: cover;
        background-position: center;
        min-height: 460px;
        height: 70vh;
        margin-bottom: 0;
        border-radius: 0;
        .text-box {
            color: $color_white;
            h1 {
                font-size: 52px;
                font-weight: 400;
                line-height: 1.5;
                letter-spacing: 6px;
                margin: 15px 0;
                @include tablet768 {
                    font-size: 48px;
                }
                @include tablet640 {
                    font-size: 43px;
                }
                @include mobile576 {
                    font-size: 38px;
                }
                @include mobile375 {
                    font-size: 32px;
                }
                .br {
                    display: none;
                    @include mobile475 {
                        display: block;
                    }
                }
                &::after {
                    display: block;
                    background-color: $color_green;
                    content: "";
                    height: 3px;
                    width: 50px;
                    margin-top: 10px;
                }
            }
            .btn {
                background: $color_green;
                color: $color_white;
                padding: 9px 26px;
                border-radius: 20px;
                &:hover {
                    background: $color_white;
                    color: $color_green;
                }
            }
        }
    }
}
#index-intro {
    padding: 100px 0;
    h3 {
        text-align: center;
    }
    .line {
        height: 3px;
        width: 50px;
        background-color: $color_green;
        margin-bottom: 70px;
        @include mobile576 {
            margin-bottom: 50px;
        }
    }
}
#index-type {
    min-height: 450px;
    h3 {
        color: #fff;
    }
    span {
        color: #fff;
        font-size: 22px;
    }
    .line {
        width: 20px;
        height: 2px;
        background-color: $color_green;
        margin-top: 3px;
    }
    .boxImage {
        background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)),url(../images/photo02.jpg);
    }
    .boxImage2 {
        background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)),url(../images/photo03.jpg);
    }
    .boxImage3 {
        background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)),url(../images/photo04.jpg);
    }
    .boxBg {
        min-height: 450px;
        background-size: cover;
        background-position: 50% 50%;
    }
    .bgBlack {
        background-color: #333;
        .btn {
            background: $color_green;
            color: $color_white;
            padding: 9px 26px;
            border-radius: 20px;
            &:hover {
                background: $color_white;
                color: $color_green;
            }
        }
    }
}
#hotArea {
    padding: 100px 0;
    @include mobile576 {
        padding: 50px 10%;
    }
    @include mobile475 {
        padding: 50px 5%;
    }
    @include mobile375 {
        padding: 50px 3%;
    }
    .container {
        max-width: 1000px;
        h3 {
            text-align: center;
        }
        .line {
            height: 3px;
            width: 50px;
            background-color: $color_green;
            margin-bottom: 70px;
            @include mobile576 {
                margin-bottom: 50px;
            }
        }
        .swiper {
            width: 100%;
            height: 100%;
            padding: 0 10px 30px 10px;
            .swiper-slide {
                font-size: 18px;

                /* Center slide text vertically */
                display: flex;
                justify-content: center;
                align-items: center;
                .card {
                    .card-head {
                        width: 100%;
                        overflow: hidden;
                        .card-img-top {
                            width: 100%;
                            height: 200px;
                            object-fit: cover;
                            object-position: center;
                            @include tablet991 {
                                height: 250px;
                            }
                            @include tablet768 {
                                height: 190px;
                            }
                            @include tablet640 {
                                height: 180px;
                            }
                            @include mobile576 {
                                height: 260px;
                            }
                            @include mobile475 {
                                height: 250px;
                            }
                            @include mobile375 {
                                height: 200px;
                            }
                        }
                    }
                    .btn {
                        background: $color_green;
                        color: $color_white;
                        padding: 9px 26px;
                        border: 1px solid $color_green;
                        border-radius: 5px;
                        &:hover {
                            background: $color_white;
                            color: $color_green;
                        }
                    }
                }
            }
            .swiper-pagination {
                bottom: -5px;
                .swiper-pagination-bullet {
                    width: 10px !important;
                    height: 10px !important;
                    margin: 0 10px !important;
                }
                .swiper-pagination-bullet-active {
                    background: #333 !important;
                }
            }
        }
    }
    .open-group {
        .card-page {
            display: none;
            .card {
                border: none;
            }
        }
        .card-page.page-open {
            display: block;
            position: absolute;
            width: 100%;
            // top: 10%;
            // left: 50%;
            >div {
                position: relative;
                margin: 0 auto;
                width: 50%;
                background: #fff;
                padding: 1.5%;
                z-index: 23;
                @include tablet991() {
                    width: 60%;
                }
                @include tablet768 {
                    width: 60%;
                }
                @include tablet640 {
                    width: 70%;
                }
                @include mobile576 {
                    width: 90%;
                }
            }
            .close-card {
                cursor: pointer;
                position: absolute;
                top: 0.5%;
                right: 1.5%;
                width: 20px;
                height: 20px;
                opacity: 0.4;
                transition: .5s;
                &:hover {
                    opacity: 1;
                }
                img {
                    width: 100%;
                }
            }
            .card-content {
                .card-img {
                    width: 100%;
                    object-fit: cover;
                    object-position: center;
                    overflow: hidden;
                    .card-img-top {
                        width: 100%;
                    }
                }
                .location {
                    width: 14px;
                }
                .clock_icon {
                    width: 14px;
                }
            }
        }
    }
}