#question-fv {
    .jumbotron {
        background-image: linear-gradient(rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0.15)),url(../images/unsplash02.jpg);
        background-size: cover;
        background-position: center;
        min-height: 460px;
        height: 50vh;
        margin-bottom: 0;
        border-radius: 0;
        p {
            color: $color_white;
            font-weight: 500;
            font-size: 24px;
            @include mobile375 {
                font-size: 21px;
            }
        }
    }
}
#question-group {
    padding: 100px 0;
    .title {
        border-bottom: 2px solid #000;
        text-align: center;
    }
    .question-list {
        margin: 0 auto;
        width: 600px;
        .question {
            .q { 
                border-bottom: 1px solid $color_green; 
                cursor: pointer;
                h4 {
                    margin: 0;
                    padding: 20px 5px;   
                }
                span {
                    width: 10px;
                    display: inline-block;
                    img {
                        width: 100%;
                        transition: .5s;
                    }
                    img.active {
                        transform: rotate(90deg);
                    }
                }
            }
            p {
                display: none;
                padding: 10px;
            }
            .active {
                display: block;
            }
        }
    }
}